* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.logo span {
    color: #F6D238;
}

.links-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    list-style: none;
}

.links-header ul li a {
    color: #999;
    text-decoration: none;
    transition: 0.5s;
    font-size: 14px;
}

.links-header ul li a:hover {
    background-color: #F6D238;
    padding: 15px;
    color: #000;
    font-weight: bold;
    border-radius: 20px;
}

.btn {
    color: #000;
    background-color: #F6D238;
    border: 2px solid #F6D238;
    padding: 15px 30px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.btn:hover {
    background-color: #fff;
    transform: rotate(5deg);
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 40px 40px 0 0;
}

.home-section-content {
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.home-section-content .left {
    position: relative;
    height: 500px;
}

.home-section .left img {
    position: absolute;
    border: 8px solid #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

.home-section-content .left-image-1 {
    height: 500px;
    width: 500px;
    object-fit: cover;
    transition: 0.5s;
}

.home-section-content .left-image-1:hover {
    transform: scale(1.1) rotate(10deg);
}

.home-section-content .left-image-2:hover {
    transform: scale(1.1) rotate(-10deg);
}

.home-section-content .left-image-2 {
    height: 350px;
    width: 350px;
    object-fit: cover;
    top: 150px;
    left: 250px;
    transition: 0.5s;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.right .text-right {
    color: #F6D238;
    font-weight: bold;
}

.right h1 {
    margin: 20px 0;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
}

.right p {
    margin-bottom: 25px;
    color: #999;
    width: 70%;
    font: 14px;

}

.see-video {
    border: 0;
    display: flex;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}

.bouttons {
    display: flex;
    align-items: center;
}

.see-video span {
    margin-left: 25px;
    font-weight: bold;

}

.video-bg {
    margin-left: 20px;
    background: url(/img/voyage12.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    background-position: center;
    border-radius: 50%;
    position: relative;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    right: -20px;
    transform: translate(-20%, 50%);
}

.play-btn i {
    color: #CF0711;
}

.destinations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 60px 60px 0 0;
}

.destinations-content {
    width: 80%;
}

.desc-button {
    display: flex;
    justify-content: space-between;

}

.desc-button .buttons button {
    background-color: #F6D238;
    border: 0;
    cursor: pointer;
    border: 2px solid #F6D238;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.5s;

}

.desc-button .buttons button:hover {
    background-color: #f1f1f1;
    transform: rotate(10deg);
}

.second {
    margin-right: 20px;
}

.destinations .small-desc {
    color: #999;
    font-size: 14px;
}

.destinations .gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
    gap: 20px;
    margin: 40px 40px 0 0 ;
}
.title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}
.destinations .gallerie .image {
    height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
}
.destinations .gallerie .image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.5s;
    border-radius: 1rem;
}
.destinations .gallerie  .description{
    transform: translateY(350px);
    background-color: #fff;
    padding: 30px;
    transition: 0.5s;
    text-align: center;
}
.destinations .gallerie  .description h1{
    font-size: 20px;
    margin-bottom: 10px;
}
.destinations .gallerie  .description p{
    font-size: 14px;
    color: #999;
}
.destinations .gallerie .image:hover .description{
    transform: translateY(-120px);
}
.destinations .gallerie .image:hover img{
    transform: translateY(-120px);
}
.Explore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 60px 0 0 ;
    width: 100%;
}
.Explore-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 60px 0 0;
}
.lorem{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Explore-content>h1{
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}
.Explore-content>p{
    font-size: 14px;
    color: #999;

}
.best-trip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-list{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}
.box-list .box{
    width: 32.83%;
    height: 400px;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}
.box-list .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.box-list .box:hover img{
    transform: scale(2) rotate(10deg);
}
.box-list .box .description{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    transition: 0.5s;
}
.box-list .box .description h2{
    font-size: 16px;
    font-weight: 500;
}
.riting{
    color:#dca930;
    margin-top: 5px;
    font-weight: bold;
}
.box-list .box .description .button-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-list .box .description .button-description span{
    font-size: 15px;
}
.box-list .box .description .button-description button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #F6D238;
    color: #F6D238;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.box-list .box .description .button-description button:hover{
    background-color: #F6D238;
    color: #000;
}
.best-trip .title{
    text-align: center;
    font-size: 30px;
}
.best-trip .small-desc{
    text-align: center;
    margin: 30px auto;
    color: #999;
    font-size: 14px;

}
.view-all{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.email-trip h1{
    margin-bottom: 20px;
}
.email-trip p{
    font-size: 14px;
    color: #999;
}
.together{
    display: flex;
    justify-content: space-between;
}
.email-trip .together .text{
    width: 500px;
}
.input{
    border: #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    height: fit-content;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}
.input input{
    border: none;
    padding: 12px;
    padding-left: 20px;
    width: 400px;
    outline: none;
}
.email-trip{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-trip-content{
    width: 80%;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    border: 60px 60px 0 0;
    padding: 20px 0;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
}
.footer-content{
    width: 80%;
}
footer .right-footer{
    color: #999;
    font-size: 14px;
}
footer .right-footer{
    color: #F6D238;
}